<mat-toolbar color="primary" *ngIf="isLoggedIn$ | async as isLoggedIn">
  <header>
    <div class="menu_bar">
      <a href="#" class="bt-menu">
        <span class="icon-th-menu"></span>Menu</a>
    </div>
    <nav>
      <ul>
        <li class="submenu">
          <a href="registrovecino">
            <span class="icon-user"></span>Vecinos
            <span class="caret icon-arrow-down-thick"></span>
      
          </a>
        </li>
        <li>
        <a href="consultavecinos">
            <span class="icon-home"></span>Consultar Vecinos</a>
          </li>

        <li>
          <a href="blogdiscusiones">
            <span class="icon-home"></span>Discusion</a>
        </li>
        <li>
          <a href="aportes">
            <span class="icon-home"></span>Aportes</a>
        </li>
        <li>
          <a href="pagoscuota">
            <span class="icon-bitcoin"></span>Pagos Cuotas </a>
        </li>
        <li>
          <a href="evento">
            <span class="icon-home"></span>Eventos</a>
        </li>
        <li>
          <a href="suplidores">
            <span class="icon-home"></span>Suplidores</a>
        </li>
        <li>
          <a href="solicitudes">
            <span class="icon-home"></span>Solicitudes</a>
        </li>
        <li>
            <p><a [routerLink]="['/login']">Logout</a></p>
        </li>
      </ul>
    </nav>
  </header>
</mat-toolbar>