    <header>
       <div class="menu_bar">
           <a href="#" class="bt-menu"><span class="icon-th-menu"></span>Menu</a>
       </div>

      
    

    <nav>
        <ul>
            
            <li class="submenu">
                <a href="#"><span class="icon-user"></span>Vecinos<span class="caret icon-arrow-down-thick"></span></a>
            <ul class ="children">
                <li class="nav-item" routerLinkActive="active" >
                     <a class="nav-link" href='#' [routerLink]=['Crear-vecinos']>Crear Nuevo vecino<span class="icon-arrow-right" ></span></a>
                    </li>
                <li> <a href="#">Ver Vecinos<span class="icon-arrow-right"></span></a></li>
                <li> <a href="#">Bloquear vecino<span class="icon-arrow-right"></span></a></li>
            </ul>
            </li>
            
            
            <li><a href="#"><span class="icon-home"></span>Discusion</a></li>
            <li><a href="#"><span class="icon-home"></span>Aportes</a></li>
            <li><a href="#"><span class="icon-bitcoin"></span>Pagos Cuotas </a></li>
            <li><a href="#"><span class="icon-home"></span>Eventos</a></li>
            <li><a href="#"><span class="icon-home"></span>Gastos</a></li>
        </ul>

        
    </nav>
    

</header>
<div class="col-sx-12 col-sm-12 col-md-4 col-lg-6">

    <div class="row">
        <div id="centrador " class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
             <br><br> <img id="imagen" src="https://www.darqtec.es/s/cc_images/cache_11791931.png?t=1360266583"class="img-responsive img-circle"alt="Imagen no Disponible">
                
        </div>
    </div>
    

</div>
