<!--header-->
<header>

  <div class="container">
      <div class="row justify-content-md-center">
              <div>
                      <h1>{{titulo}}</h1>
              </div>
             
      </div>

  </div>
</header>
<hr>

<!--contenido-->

<div class="container text-md-right">
      <form class="row">
          <div class="col-sm-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
            <!--Id-->
              <div class="form-group row">
                  <label for="id-input" class="col-sm-2 col-form-label">Id</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="id-input" placeholder="Id" required>
                  </div>
              
              </div>
              <!--Nombres-->
              <div class="form-group row">
                  <label for="Nombres-input" class="col-sm-2 col-form-label">Nombres</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="titulo-input" placeholder="Nombres" required>
                  </div>
              </div>

              <!--Apellidos-->
              <div class="form-group row">
                  <label for="Apellidos-textarea" class="col-sm-2 col-form-label">Apellidos</label>
                  <div class="col-sm-10">
                      <textarea  class="form-control" id="Apellidos-input" placeholder="Apellidos" rows="3" required></textarea>
                  </div>
              </div>
              <!--Cedula-->
              <div class="form-group row">
                  <label for="Cedula-input" class="col-sm-2 col-form-label">Cedula</label>
                  <div class="col-sm-10">
                      <input type="number" class="form-control" id="cedula-input" placeholder="Cedula" required>
                  </div>
              </div>
              <!--Email-->
              <div class="form-group row">
                  <label for="Email-input" class="col-sm-2 col-form-label">Email</label>
                  <div class="col-sm-10">
                          <input type="email" class="form-control" id="email-input" placeholder="E-Mail" required>
                  </div>
              </div>
              <!--Direccion-->
              <div class="form-group row">
                  <label for="Direccion-input" class="col-sm-2 col-form-label">Direccion</label>
                  <div class="col-sm-10">
                          <input type="text" class="form-control" id="direccion-input" placeholder="Direccion" required>
                  </div>
              </div>

            <!--Vecindario-->
              <div class="form-group row">
                  <label for="vecindario-select" class="col-sm-2 col-form-label">Vecindario</label>
                  <div class="col-sm-10">
                      <select class="form-control" id="vecindario-select"  required>
                              <!--select -->
                      </select>

                  </div>
              </div>
              <!--Cargo-->

              <div class="form-group row">
                  <label for="cargo-select" class="col-sm-2 col-form-label">Cargo</label>
                  <div class="col-sm-10">
                      <select class="form-control" id="Cargo-select" required>
                              <!--select -->
                      </select>

                  </div>
              </div>

              <!-- botónes -->
              <div class="col">
                  <div class="botones"> 
                  <div class="d-flex align-items-center justify-content-center h-100">
                      <input type="button" style="margin:2px" class="btn btn-default" value="Nuevo">
                      <input type="button" style="margin:2px" class="btn btn-primary" value="Guardar">
                      <input type="button" style="margin:2px" class="btn btn-warning" value="Cancelar">
                      <input type="button" style="margin:2px" class="btn btn-danger" value="Eliminar">
                  </div>
              </div>
              </div>


          </div>
      </form>
  </div>