<!--header-->
<header>

  <div class="container">
      <div class="row justify-content-md-center">
              <div>
                      <h1>{{titulo}}</h1>
              </div>
             
      </div>

  </div>
</header>
<hr>

<!--contenido-->

<div class="container text-md-right">
      <form #formVecino="ngForm" class="row" (ngSubmit)="buscarVecino()" >
          <div class="col-sm-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
            <!--Id-->
              <div class="form-group row">
                  <label for="id-input" class="col-sm-2 col-form-label">Vecindario</label>
                  <div class="col-sm-10">

                    <select class="form-control" id="Vecindario-select" name="VecindarioSelect" [(ngModel)]="VecindarioSelect" required>
                            
                            <option *ngFor="let vecindarios of vecindarioArray" value="{{vecindarios.IdVecindario}}">
                               {{vecindarios.nombre}}
                            </option>
                    </select>
                     
                  </div>
              
              </div>
              <!--Nombres-->
              <div class="form-group row">
                  <label for="Nombres-input" class="col-sm-2 col-form-label">Nombres</label>
                  <div class="col-sm-10">
                      <input type="text" name="nombreInput" class="form-control" id="nombre-input" placeholder="Nombres" [(ngModel)]="nombres" required>
                  </div>
              </div>

              <!--Apellidos-->
              <div class="form-group row">
                  <label for="Apellidos-textarea" class="col-sm-2 col-form-label">Apellidos</label>
                  <div class="col-sm-10">
                    <input type="text"  name="apellidosInput" class="form-control" id="apellidos-input" placeholder="Apellidos" [(ngModel)]="apellidos" required>
                </div>
              </div>
              <!--Cedula-->
              <div class="form-group row">
                  <label for="Cedula-input" class="col-sm-2 col-form-label">Cedula</label>
                  <div class="col-sm-10">
                      <input type="text" name="cedulaInput" class="form-control" id="cedula-input" placeholder="Cedula" [(ngModel)]="cedula" required>
                    
                  </div>
              </div>
             
              <!--Direccion-->
              <div class="form-group row">
                  <label for="Direccion-input" class="col-sm-2 col-form-label">Direccion</label>
                  <div class="col-sm-10">
                          <input type="text" name="direccionInput" class="form-control" id="direccion-input" placeholder="Direccion" [(ngModel)]="direccion" required>
                  </div>
              </div>

               <!--Email-->
               <div class="form-group row">
                <label for="Email-input" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                        <input type="email" name="emailInput" class="form-control" id="email-input" placeholder="E-Mail" [(ngModel)]="email" required>
                </div>
            </div>
             <!--clave-->
             <div class="form-group row">
                <label for="clave-input" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                        <input type="password" name="claveInput" class="form-control" id="clave-input" placeholder="Password" [(ngModel)]="password" required>
                </div>
            </div>

            <!--Frecuencia-->
              <div class="form-group row">
                  <label for="frecuencia-select" class="col-sm-2 col-form-label">Frecuencia Pago</label>
                  <div class="col-sm-10">
                      <select class="form-control" id="frecuencia-select" name="FrecuenciaSelect" [(ngModel)]="FrecuenciaSelect"  required>
                        <option *ngFor="let frecuencia of frecuenciaArray" value="{{frecuencia.Idfrecuencia}}">
                            {{frecuencia.frecuencia}}
                        </option>
                      </select>

                  </div>
              </div>
              <!--Cargo-->

              <div class="form-group row">
                  <label for="cargo-select" class="col-sm-2 col-form-label">Rol</label>
                  <div class="col-sm-10">
                      <select class="form-control" id="Cargo-select" name="CargoSelect" [(ngModel)]="CargoSelect" required>
                             
                        <option *ngFor="let cargos of CargoArray" value="{{cargos.IdCargo}}">
                            {{cargos.nombre}}
                        </option>

                      </select>

                  </div>
              </div>

              <!-- botónes -->
              <div class="col">
                  <div class="botones"> 
                  <div class="d-flex align-items-center justify-content-center h-100">
                      <input type="button" style="margin:2px" class="btn btn-default" value="Nuevo" (click)="limpiar(formVecino)">
                      <input type="button" style="margin:2px" class="btn btn-primary" [disabled]="!formVecino.valid" (click)="addVecino(formVecino)" value="Guardar">
                      <input type="button" style="margin:2px" class="btn btn-warning" value="Cancelar">
                      
                  </div>
              </div>
              </div>


          </div>
      </form>
  </div>