

<div class="col-md-6 col-md-offset-3">
    <h2>Login</h2>
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="model.Email" #username="ngModel" required />
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.Clave" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Login</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <!-- <a [routerLink]="['/register']" class="btn btn-link">Register</a> -->
            <a class="btn btn-link" (click)="onRegistrar()">Regístrate</a>

        </div>
    </form>
</div>


<div class="container text-md-right" *ngIf="registrando">
    <form #formVecino="ngForm" class="row" (ngSubmit)="buscarVecino()" >
        <div class="col-sm-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
          <!--Id-->
            <!--Nombres-->
            <div class="form-group row">
                <label for="Nombres-input" class="col-sm-2 col-form-label">Nombres</label>
                <div class="col-sm-10">
                    <input type="text" name="nombreInput" class="form-control" id="nombre-input" placeholder="Nombres" [(ngModel)]="usuario.Nombres" required>
                </div>
            </div>

            <!--Apellidos-->
            <div class="form-group row">
                <label for="Apellidos-textarea" class="col-sm-2 col-form-label">Apellidos</label>
                <div class="col-sm-10">
                  <input type="text"  name="apellidosInput" class="form-control" id="apellidos-input" placeholder="Apellidos" [(ngModel)]="usuario.Apellidos" required>
              </div>
            </div>
            <!--Cedula-->
            <div class="form-group row">
                <label for="Cedula-input" class="col-sm-2 col-form-label">Cedula</label>
                <div class="col-sm-10">
                    <input type="text" name="cedulaInput" class="form-control" id="cedula-input" placeholder="Cedula" [(ngModel)]="usuario.Cedula" required>
                  
                </div>
            </div>
           
            <!--Direccion-->
            <div class="form-group row">
                <label for="Direccion-input" class="col-sm-2 col-form-label">Direccion</label>
                <div class="col-sm-10">
                        <input type="text" name="direccionInput" class="form-control" id="direccion-input" placeholder="Direccion" [(ngModel)]="usuario.Direccion" required>
                </div>
            </div>

             <!--Email-->
             <div class="form-group row">
              <label for="Email-input" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                      <input type="email" name="emailInput" class="form-control" id="email-input" placeholder="E-Mail" [(ngModel)]="usuario.Email" required>
              </div>
          </div>
           <!--clave-->
           <div class="form-group row">
              <label for="clave-input" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-10">
                      <input type="password" name="claveInput" class="form-control" id="clave-input" placeholder="Password" [(ngModel)]="usuario.Clave" required>
              </div>
          </div>

          <!--Frecuencia-->
            <div class="form-group row">
                <label for="frecuencia-select" class="col-sm-2 col-form-label">Frecuencia Pago</label>
                <div class="col-sm-10">
                    <select class="form-control" id="frecuencia-select" name="FrecuenciaSelect" [(ngModel)]="FrecuenciaSelect"  required>
                      <option *ngFor="let frecuencia of frecuenciaArray" value="{{frecuencia.IdFrecuencia}}">
                          {{frecuencia.frecuencia}}
                      </option>
                    </select>

                </div>
            </div>
            

            <!-- botónes -->
            <div class="col">
                <div class="botones"> 
                <div class="d-flex align-items-center justify-content-center h-100">
                    <!-- <input type="button" style="margin:2px" class="btn btn-default" value="Nuevo" (click)="limpiar(formVecino)"> -->
                    <input type="button" style="margin:2px" class="btn btn-primary" [disabled]="!formVecino.valid" (click)="addVecino(formVecino)" value="Guardar">
                    
                    
                </div>
            </div>
            </div>


        </div>
    </form>
</div>