<<<<<<< HEAD
:host {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.input {
	position: relative;
}

div.input label {
	position: absolute;
	top: 0;
	transform: translateY(-50%);
	left: 10px;
	background: white;
	padding: 5px 2px;
}

div.input input {
	padding: 10px 20px;
	font-size: 25px;
	outline: 0;
}

div.input {
	margin-top: 20px;
}

=======
md-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  .signin-content {
    padding: 60px 1rem;
  }
  .full-width-input {
    width: 100%;
  }
  
  .login{
    max-width: 400;
    margin-top: 15%;
    margin-left: 35%;
    
  }

  .boton{
    margin-top: 15%;
    margin-left: 35%;
    color:white;
    background:green
  }

  .full-width-input{
    margin-top: 3%;
  }
>>>>>>> 66a65f5ac05ebea7c92f95955ba57e24b5ee1208
