.centrado{
    display:block;
    margin-left: auto;
    margin-right: auto;
  }

.tamano{
    width: 50%
}

.texto{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#divLogin{
    display:block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: #81d4fa;
    width: 40%;
    height: 50%;
}

#pie{
    background-color: #e53935;
    margin-top: 3%;
    height: 600;
}

#textx{
    text-align: center;
}