<!--header-->
<header>

  <div class="container">
      <div class="row justify-content-md-center">
              <div>
                      <h1>{{titulo}}</h1>
              </div>
             
      </div>

  </div>
</header>
<hr>

<!--contenido-->

<div class="container text-md-right">
      <form class="row">
          <div class="col-sm-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
            <!--Id Cuota-->
              <div class="form-group row">
                  <label for="IdCuota-input" class="col-sm-2 col-form-label">Id Cuota</label>
                  <div class="col-sm-10">
                      <input type="text" name="IdCuotaInput" class="form-control" id="IdCuota-input" placeholder="IdCuota" [(ngModel)]="IdCuota" required>
                  </div>
              
              </div>
              <!--Id Vecindario-->
              <div class="form-group row">
                  <label for="IdVecindario-input" class="col-sm-2 col-form-label">Vecindario</label>
                  <div class="col-sm-10">
                      <input type="select" name="IdVecindario" class="form-control" id="IdVecindario-input" placeholder="IdVecindario" [(ngModel)]="IdVecindario" required>
                  </div>
              </div>
              <!--Fecha-->
              <div class="form-group row">
                <label for="Fecha-input" class="col-sm-2 col-form-label">Fecha</label>
                <div class="col-sm-10">
                    <input type="Date" name="Fecha" class="form-control" id="Fecha-input" placeholder="Fecha" [(ngModel)]="Fecha" required>
                </div>
              </div>
              <!--No Cuota-->
              <div class="form-group row">
                  <label for="NoCuota-input" class="col-sm-2 col-form-label">No Cuota</label>
                  <div class="col-sm-10">
                      <input type="select" name="NoCuota" class="form-control" id="NoCuota-input" placeholder="NoCuota" [(ngModel)]="NoCuota" required>
                  </div>
              </div>
              <!--Monto-->
              <div class="form-group row">
                <label for="Monto-input" class="col-sm-2 col-form-label">Monto</label>
                <div class="col-sm-10">
                    <input type="text" name="Monto" class="form-control" id="Monto-input" placeholder="Monto" [(ngModel)]="Monto" required>
                </div>
              </div>
              <!--Balance-->
              <div class="form-group row">
                <label for="Balance-input" class="col-sm-2 col-form-label">Balance</label>
                <div class="col-sm-10">
                    <input type="text" name="Balance" class="form-control" id="Balance-input" placeholder="Balance" [(ngModel)]="Balance" required>
                </div>
              </div>
              <!-- botónes -->
              <div class="col">
                  <div class="botones"> 
                  <div class="d-flex align-items-center justify-content-center h-100">
                      <input type="button" style="margin:2px" class="btn btn-default" value="Nuevo" (click)="limpiar(formVecino)">
                      <button type="button" style="margin:2px" class="btn btn-primary" (click)="addVecino(formVecino)" >Guardar</button>
                      <input type="button" style="margin:2px" class="btn btn-warning" value="Cancelar">
                      <button type="button" style="margin:2px" class="btn btn-danger" value="Buscar" (click)="filtrar()">Buscar</button>
                  </div>
              </div>
              </div>
          </div>
      </form>
  </div>