<!--header-->
<header>

  <div class="container">
      <div class="row justify-content-md-center">
              <div>
                      <h1>Registro Vecindario</h1>
              </div>
             
      </div>

  </div>
</header>
<hr>

<!--contenido-->

<div class="container text-md-right">
      <form #formVecindario="ngForm" class="row">
          <div class="col-sm-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
            <!--Id Vecindario-->
             <!-- <div class="form-group row">
                  <label for="IdVecindario-input" class="col-sm-2 col-form-label">Id Vecindario</label>
                  <div class="col-sm-10">
                      <input type="text" name="IdVecindarioInput" class="form-control" id="IdVecindario-input" placeholder="IdVecindario" [(ngModel)]="IdVecindario" required>
                  </div>
              
              </div>-->
              <!--Nombre Vecindario-->
              <div class="form-group row">
                  <label for="NombreVecindario-input" class="col-sm-2 col-form-label">Nombre Vecindario</label>
                  <div class="col-sm-10">
                      <input type="text" name="NombreVecindarioInput" class="form-control" id="NombreVecindario-input" placeholder="Nombre Vecindario" [(ngModel)]="NombreVecindario" required>
                  </div>
              </div>

               <!--Monto Aporte-->
               <div class="form-group row">
                    <label for="Monto-input" class="col-sm-2 col-form-label">Monto Aporte</label>
                    <div class="col-sm-10">
                        <input type="text" name="MontoInput" class="form-control" id="Monto-input" placeholder="Monto " [(ngModel)]="MontoAporte" required>
                    </div>
                </div>

                 <!--Ciudad-->
              <div class="form-group row">
                <label for="ciudad-input" class="col-sm-2 col-form-label">Ciudad</label>
                <div class="col-sm-10">
                    <input type="text" name="CiudadInput" class="form-control" id="Ciudad-input" placeholder="Ciudad" [(ngModel)]="Ciudad" required>
                </div>
            </div>

             <!--Provincia-->
             <div class="form-group row">
                <label for="Provincia-input" class="col-sm-2 col-form-label">Provincia</label>
                <div class="col-sm-10">
                    <input type="text" name="ProvinciaInput" class="form-control" id="Provincia-input" placeholder="Provincia" [(ngModel)]="Provincia" required>
                </div>
            </div>

             <!--Sector-->
             <div class="form-group row">
                <label for="Sector-input" class="col-sm-2 col-form-label">Sector</label>
                <div class="col-sm-10">
                    <input type="text" name="SectorInput" class="form-control" id="Sector-input" placeholder="Sector" [(ngModel)]="Sector" required>
                </div>
            </div>

             <!--Direccion-->
             <div class="form-group row">
                <label for="Direccion-input" class="col-sm-2 col-form-label">Direccion</label>
                <div class="col-sm-10">
                    <input type="text" name="DireccionInput" class="form-control" id="Direccion-input" placeholder="Direccion" [(ngModel)]="Direccion" required>
                </div>
            </div>

                <!--Fondo-->
                <div class="form-group row">
                    <label for="Fondo-input" class="col-sm-2 col-form-label">Fondo</label>
                    <div class="col-sm-10">
                        <input type="text" name="FondoInput" class="form-control" id="Fondo-input" placeholder="Fondo" [(ngModel)]="Fondo" required>
                    </div>
                </div>

              <!-- botónes -->
              <div class="col">
                  <div class="botones"> 
                  <div class="d-flex align-items-center justify-content-center h-100">
                      <input type="button" style="margin:2px" class="btn btn-default" value="Nuevo" (click)="limpiar(formVecindario)">
                      <input type="button" style="margin:2px" class="btn btn-primary" value="Guardar" [disabled]="!formVecindario.valid" (click)="addVecindario(formVecindario)" >
                      
                      
                  </div>
                 </div>
              </div>

          </div>
      </form>
  </div>