<!--header-->
<header>

    <div class="container">
        <div class="row justify-content-md-center">
                <div>
                        <h1>{{titulo}}</h1>
                </div>
               
        </div>
  
    </div>
  </header>
  <hr>
  
  <!--contenido-->
  
  <div class="container text-md-right">
        <form #formSolicitud="ngForm" class="row" (ngSubmit)="buscarSolicitud()" >
            <div class="col-sm-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6"> 
              <!--Id-->
                <div class="form-group row">
                    <label for="id-input" class="col-sm-2 col-form-label">Id</label>
                    <div class="col-sm-10">
                        <input type="text" name="idInput" class="form-control" id="id-input" placeholder="Id" [(ngModel)]="id" required>
                    </div>
                
                </div>
                <!--Fecha-->
                <div class="form-group row">
                    <label for="Fecha-input" class="col-sm-2 col-form-label">Fecha</label>
                    <div class="col-sm-10">
                        <input type="date" name="fechaInput" class="form-control" id="fecha-input" placeholder="Fecha" [(ngModel)]="fecha" required>
                    </div>
                </div>
  
                <!--Tema-->
                <div class="form-group row">
                    <label for="Apellidos-textarea" class="col-sm-2 col-form-label">Tema</label>
                    <div class="col-sm-10">
                      <input type="text" name="temaInput" class="form-control" id="tema-input" placeholder="Tema" [(ngModel)]="tema" required>
                    </div>
                </div>
                <!--Cedula-->
                <div class="form-group row">
                    <label for="Cedula-input" class="col-sm-2 col-form-label">Descripcion</label>
                    <div class="col-sm-10">
                        <input type="text" name="descripcionInput" class="form-control" id="descripcion-input" placeholder="Descripcion" [(ngModel)]="descripcion" required>
                      
                    </div>
                </div>
                
  
                <!-- botónes -->
                <div class="col">
                    <div class="botones"> 
                    <div class="d-flex align-items-center justify-content-center h-100">
                        <input type="button" style="margin:2px" class="btn btn-default" value="Nuevo" (click)="limpiar(formSolicitud)">
                        <button type="button" style="margin:2px" class="btn btn-primary" (click)="addSolicitudes(formSolicitud)" >Guardar</button>
                        <input type="button" style="margin:2px" class="btn btn-warning" value="Cancelar">
                        <button type="button" style="margin:2px" class="btn btn-danger" value="Buscar" (click)="filtrar()">Buscar</button>
                    </div>
                </div>
                </div>
  
  
            </div>
        </form>
    </div>