<form #Blog="ngForm" (ngSubmit)="GuardarGasto(Blog)" id="blogDiscusiones" >
  <div class="row">
    <div id="Notificaciones" class="col-md-2">
      <div class="panel panel-default">

        <div class="alert alert-success" *ngFor="let comentario of discusionComentarios">
          <strong>Usuario - {{comentario.Fecha | date: 'dd-MM-yyyy'}}</strong> Hizo un comentario.
        </div>

      </div>
    </div>
    <div id="CuerpoDicusion" class="col-md-10">
      <div id="Panel"class="panel panel-default">
    <div id="EncabezadoDiscusion" class="panel-heading" >
          <h4><strong>{{discusion.Titulo}}</strong></h4>
          <p>{{discusion.Descripcion}}</p>
      </div>

      <div id="ComentariosDiscusion" >
          <div id="listComentatios" *ngFor="let comentario of discusionComentarios" class="col-md-11">
              <img src="https://designdroide.com/imagesOrigin/abstract-user-icon-3.jpg" width="30" height="30" srcset="https://designdroide.com/images/abstract-user-icon-3.svg" itemprop="contentUrl" style="float: left;" title="logo Usuario" class="rounded-circle" style="float: left;" alt="LogoUsuario"> 
              <h5 style="float: left; padding-left: 1%;">Usuario - {{comentario.Fecha | date: 'dd-MM-yyyy'}}</h5>
              <p id="UserComent" style="clear: left;" class="form-control">{{comentario.Comentario}}</p>
          </div>
      </div>

      <div id="AgregarComentario" class="panel-footer">
        
        <div id="EncabezadoComentario" class="col-md-11">
          <img id="Imagen" src="https://designdroide.com/imagesOrigin/abstract-user-icon-3.jpg" width="30" height="30" srcset="https://designdroide.com/images/abstract-user-icon-3.svg" itemprop="contentUrl" style="float: left;" title="logo Usuario"> 
          <h5 style="float: left; padding-left: 1%;">{{usuarioLogueado}}</h5>
        </div>

        <div id="Comentario" class="col-md-11">
          <textarea class="form-control" [(ngModel)]="comentario.Comentario" name="Comentario" id="textoComentario" rows="2" placeholder="Escribe tu comentario..."></textarea>
          <input id="BotonComentar" type="button" (click)="Comentar()" class="btn btn-success" value="Comentar"  >
        </div>

      </div></div>
    </div>
  </div>
</form>