
#ComentariosDiscusion{
    height: 20rem;
    max-height: 20rem;
    overflow: scroll;
}
#Notificaciones{
    height: 35rem;
    max-height: 35rem;
    overflow: scroll;
}

#AgregarComentario{
    height: 150px;
}
#Imagen{
    size: 50x50px
}