<!-- Header -->
<div class="container">
  <div class="row">
      <div class="col-sm-11">
              <header><h1>Crear discusión</h1></header>
      </div>
  </div>
</div>
<hr>



<!-- formulario -->
<div class="container text-md-right">
  <form #f="ngForm" class="row">
  <div class="col-sm-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
      <div class="form-group row">
          <label for="titulo-input" class="col-sm-2 col-form-label">Título</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" name="titulo-input" id="titulo-input" placeholder="Título" [(ngModel)]="discusion.Titulo" required>
          </div>
      </div>
      <div class="form-group row">
          <label for="descripcion-textarea" class="col-sm-2 col-form-label">Descripción</label>
          <div class="col-sm-10">
              <textarea class="form-control" name="descripcion-textarea" id="descripcion-textarea" rows="3" [(ngModel)]="discusion.Descripcion" required></textarea>
          </div>
      </div>
      <div class="form-group row">
          <label for="fecha-input" class="col-sm-2 col-form-label">Fecha</label>
          <div class="col-sm-10">
              <input type="date" class="form-control" name="fecha-input" id="fecha-input" [(ngModel)]="discusion.FechaCreacion" required>
          </div>
      </div>
      <!-- <div class="form-group row">
          <label for="categoria-select" class="col-sm-2 col-form-label">Categoría</label>
          <div class="col-sm-10">
              <select class="form-control" name="categoria-select" id="categoria-select" >
                  
              </select>
          </div>
      </div> -->

      <div class="form-group row">
          <label for="estatus-select" class="col-sm-2 col-form-label">Estado</label>
          <div class="col-sm-10">
              
            <select class="form-control" name="estatus-select" id="estatus-select" [(ngModel)]="discusion.Estado" required>
                  <!-- opciones select -->
                  <option *ngFor="let estado of estados" [value]="estado.IdEstado">
                        {{ estado.Descripcion }}
                  </option>
              </select>

          </div>
      </div>

      <div class="form-group row">
          <label for="conclusion-textarea" class="col-sm-2 col-form-label">Conclusión</label>
          <div class="col-sm-10">
              <textarea class="form-control" name="conclusion-textarea" id="conclusion-textarea" rows="3" [(ngModel)]="discusion.Conclusion" required></textarea>
          </div>
      </div>

      
        <!-- <div class="text-center block-center">
            <div class="col-xs-6 col-md-3">
                <button type="button" (click)="Guardar()" class="btn btn-primary">Guardar</button>
            </div>
        </div> -->
        
        

      <!-- botón crear -->
      <!-- <div class="container"> -->
          <div class="row">

              <!-- <div class="col-xs-6 col-md-3">
                  <button class="btn btn-secundary">Nuevo</button>
              </div> -->
              
              <div class="col-xs-3 col-xs-offset-3">
                  <button type="button" (click)="onSave()" class="btn btn-primary" [disabled]="!f.valid">Guardar</button>
              </div>

              <!-- <div class="col-xs-6 col-md-3">
                  <button class="btn btn-warning">Cancelar</button>
              </div> -->

              <div class="col-xs-3" *ngIf="discusion.IdDiscusion > 0">
                  <button class="btn btn-danger" (click)="onDelete()">Eliminar</button>
              </div>
              
          </div>
      <!-- </div> -->
  </div>

  </form>
</div>