<!-- Header -->
<div class="container">
  <div class="row">
      <div class="col-sm-11">
              <header><h1>Crear discusión</h1></header>
      </div>
  </div>
</div>
<hr>

<!-- formulario -->
<div class="container text-md-right">
  <form #formDiscusion="ngForm" (ngSubmit)="guardarDiscusion(formDiscusion)" class="row">
  <div class="col-sm-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
      <div class="form-group row">
          <label for="titulo-input" class="col-sm-2 col-form-label">Título</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" name="titulo-input" id="titulo-input" placeholder="Título" [(ngModel)]="model.titulo" required>
          </div>
      </div>
      <div class="form-group row">
          <label for="descripcion-textarea" class="col-sm-2 col-form-label">Descripción</label>
          <div class="col-sm-10">
              <textarea class="form-control" name="descripcion-textarea" id="descripcion-textarea" rows="3" [(ngModel)]="model.descripcion" required></textarea>
          </div>
      </div>
      <div class="form-group row">
          <label for="fecha-input" class="col-sm-2 col-form-label">Fecha</label>
          <div class="col-sm-10">
              <input type="date" class="form-control" name="fecha-input" id="fecha-input" [(ngModel)]="model.fecha" required>
          </div>
      </div>
      <div class="form-group row">
          <label for="categoria-select" class="col-sm-2 col-form-label">Categoría</label>
          <div class="col-sm-10">
              <select class="form-control" name="categoria-select" id="categoria-select" [(ngModel)]="model.categoria" required>
                  <!-- opciones select -->
              </select>
          </div>
      </div>
      <div class="form-group row">
          <label for="estatus-select" class="col-sm-2 col-form-label">Estatus</label>
          <div class="col-sm-10">
              <select class="form-control" name="estatus-select" id="estatus-select" [(ngModel)]="model.estatus" required>
                  <!-- opciones select -->
              </select>
          </div>
      </div>
      <div class="form-group row">
          <label for="conclusion-textarea" class="col-sm-2 col-form-label">Conclusión</label>
          <div class="col-sm-10">
              <textarea class="form-control" name="conclusion-textarea" id="conclusion-textarea" rows="3" [(ngModel)]="model.conclusion"></textarea>
          </div>
      </div>

      <!-- botón crear -->
      <!-- <div class="container"> -->
          <!-- <div class="row"> -->
              <div class="col-xs-6 col-md-3">
                  <button class="btn btn-secundary">Nuevo</button>
              </div>
              <div class="col-xs-6 col-md-3">
                  <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
              <div class="col-xs-6 col-md-3">
                  <button class="btn btn-warning">Cancelar</button>
              </div>
              <div class="col-xs-6 col-md-3">
                  <button class="btn btn-danger">Eliminar</button>
              </div>
          <!-- </div> -->
      <!-- </div> -->
  </div>

  </form>
</div>