@media screen and (max-width: 1800px) and (min-width: 450px) {
    #imagen{
        position: absolute;
        width: 400px;
        top: 50PX;
        left: 70%;
        right: 0;
        bottom: 20px;
        
        margin:50px auto;
        /*margin-right:0;*/
    }
  }


  @media screen and (max-width: 420px) and (min-width: 100px) {
    #imagen{
        position: absolute;
        width: 400px;
        top: 50PX;
        left: 0%;
        right: 0;
        bottom: 20px;
        
        margin:50px auto;
        /*margin-right:0;*/
    }
  }



    
